In [27]:
import pandas as pd
import numpy as np


df=pd.read_csv('insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [18]:
x=pd.DataFrame(df.iloc[:,:-1])
y=pd.DataFrame(df.iloc[:,-1])

dependent and independent variables

setting up dependent and the indipendent variables

In [19]:
x

      age
0      19
1      18
2      28
3      33
4      32
...   ...
1333   50
1334   18
1335   18
1336   21
1337   61

[1338 rows x 1 columns]

change in the variables

age is our indepent variable chosen

In [20]:
y

         bmi
0     27.900
1     33.770
2     33.000
3     22.705
4     28.880
...      ...
1333  30.970
1334  31.920
1335  36.850
1336  25.800
1337  29.070

[1338 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=5)

divinding the data into train and tsest sets

In [23]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1070, 1)
(268, 1)
(1070, 1)
(268, 1)

In [30]:
from sklearn.linear_model import linearRegression
regressor=linearRegression()
regressor.fit(x_train, y_train)

ImportError: cannot import name 'linearRegression' from 'sklearn.linear_model' (C:\Users\Admin\anaconda3\envs\datapy\lib\site-packages\sklearn\linear_model\__init__.py)

train  the algorithm